name: Latest articles and podcasts

on:
  workflow_dispatch:
  schedule:
    # Runs every day
    - cron: '0 1 * * *'

jobs:
  update-readme-with-posts:
    name: Update this repo's README with latest articles and podcasts on JavaScript
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "REDDIT-POST-LIST"
          feed_list: "https://www.reddit.com/r/javascript/.rss"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "INFOWORLD-POST-LIST"
          feed_list: "https://www.infoworld.com/category/javascript/index.rss"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "EMBERJS-POST-LIST"
          feed_list: "https://blog.emberjs.com/rss.xml"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "YOUTUBE-POST-LIST"
          feed_list: "https://www.youtube.com/feeds/videos.xml?user=jsconfeu"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "REACTJS-POST-LIST"
          feed_list: "https://reactjs.org/feed.xml"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "METEOR-POST-LIST"
          feed_list: "https://blog.meteor.com/feed"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "DREAMIX-POST-LIST"
          feed_list: "https://dreamix.eu/blog/category/javascript/feed"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "NODESOURCE-POST-LIST"
          feed_list: "https://nodesource.com/blog/rss"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "REACTNATIVE-POST-LIST"
          feed_list: "http://www.reactnative.com/rss/"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "REDHAT-POST-LIST"
          feed_list: "https://developers.redhat.com/blog/tag/javascript/feed/"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "JAVASCRIPTWEEKLY-POST-LIST"
          feed_list: "https://cprss.s3.amazonaws.com/javascriptweekly.com.xml"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "WRITINGJAVASCRIPT-POST-LIST"
          feed_list: "https://writingjavascript.com/rss.xml"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          comment_tag_name: "JAVASCRIPTNINJA-POST-LIST"
          feed_list: "https://thejavascriptninja.com/feed/"